body {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  text-align: center;
}

a.btn {
  display: inline-block;
  background: #111;
  color: #0f0;
  padding: 10px 20px;
  border: 1px solid #0f0;
  text-decoration: none;
  margin-top: 20px;
}
